<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="piber.avatar_crab">

    <!-- Permissions -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Naver Map API -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="c1ka4vgyt7" />

        <!-- Google Map API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgHGTpER1l9P4S9WM01hBAWX6Sag3bpyE" />

        <!-- Google Sign-In Metadata -->
        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.credential_picker_logo"
            android:resource="@drawable/ic_googleg_disabled_color_18"/>
        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.credential_picker_logo_onclick"
            android:resource="@drawable/ic_googleg_standard_color_18"/>

        <!-- MainActivity를 앱의 시작 액티비티로 설정 -->
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Avatar_crab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".presentation.MainActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.userinfo.UserInfoActivity"
            android:exported="true" />

        <activity android:name=".presentation.SegmentDetailActivity" />


        <!-- Services -->
        <service
            android:name=".presentation.MobileWearableService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"
                    tools:ignore="WearableBindListener" />
            </intent-filter>
        </service>
    </application>
</manifest>